/* Site content */

// General

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.67rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.33rem;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.67rem;
  line-height: 2.47rem;
}

h3 {
  margin: 8.33rem auto 0 auto;
  padding-bottom: 2.4rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.33rem;
  text-align: center;
}

.button {
  padding: .65rem 3rem;
  text-align: center;
  color: #fff;
  background: #ffa800;
  border-radius: 2rem;
  border: none;
}

.button:hover {
  background: #ffcB66;
}

.button:active { background: #ff8a00; }

// Ripped paper effect
.ripped-up {
  position: absolute;
  margin-top: -1%;
  align-self: flex-start;
  width: 100%;
  transform: rotateX(180deg);
}

.ripped-bottom {
  position: absolute;
  margin-top: 0.3%;
  align-self: flex-end;
  width: 100%;
  z-index: 1000;
}

@media only screen and (max-width: 991px) {

  .ripped-bottom {
    margin-top: 0.15%;
  }
}

// Video

.video-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  overflow: hidden;
} 

.video-container iframe { 
  position: absolute; 
  top: -4.5rem; 
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1366px;
  height: 100%;
  margin: 0 auto;
  
}

@media only screen and (max-width: 1024px) {
  .video-container iframe {
  top: 0;
  }
}

// Description

.description-container {
  margin-top: 3.8rem;
  margin-bottom: 9.5rem;
}

.description-text {
  width: 48%;
  text-align: center;
  line-height: 1.22rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 991px) {

  .description-text {
    width: 85%;
    margin: 7.55rem auto 9.33rem auto;
  }
}

@media only screen and (max-width: 576px) {
  .description-text {
    font-size: .667rem;
    width: 90%;
    margin: 4.44rem auto;
    line-height: 0.8rem;
  }
}

// Images

.image-container { margin-top: 8.33rem; }

.image-container img { 
  display: block;
  width: 100%;

}

@media only screen and (max-width: 576px) {
  .image-container {
    flex-wrap: wrap-reverse;
    align-items: center;
  }

  .image-container div:nth-child(2),
  .image-container div:nth-child(3) { max-width: 50%; }

  .image-container div:nth-child(4) { max-width: 43.5%; }

  .image-container div:nth-child(5) { max-width: 56.4%; }

  .image-container .ripped-up {
    margin-top: 1%;
    transform: rotateY(-180deg);
  }
  
  .image-container .ripped-bottom {
    margin-top: -0.3rem;
    transform: rotateX(180deg);
  }
}
// Application - dream entry
.application-container {
  margin-top: 8.53rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8.53rem;
  padding-right: 1.8rem;
  padding-left: 2.7rem;
}

.application-container-inner .h3 { padding-bottom: 2.4rem; }

.application-container-inner a {
  display: inline-block;
  width: 12.94rem;
}

.application-container-inner a:hover {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 991px) {

  .application-container { max-width: 100%; }
  
  .application-container-inner { flex-basis: 35%; } 

  .application-container-inner .h3 { font-size: 1rem; }
}

@media only screen and (max-width: 576px) {

  .application-container .application-container-inner:nth-child(2) { margin-top: 4.44rem; }

  .application-container-inner .h3 { padding-bottom: 1.667rem; }
}

// Form

.form-container {
  width: 46.5%;
  margin: 8.39rem auto 8.34rem auto;
  font-size: 1.333rem;
  padding-left: 1rem;
}

.form-container .h3{
  margin-bottom: 3.55rem;
  font-size: 1.67rem;
}

.form-control {
  margin-bottom: 0.75rem;
  padding: 0.55rem 0.45rem;
  background: rgba(196, 196, 196, 0.4);
  border-radius: 0.333rem;
  border: none;
}

.form-control::placeholder { color: #2F4858; }

.form-control:focus {
  border: 1px solid rgba(196, 196, 196, 0.4);
  box-shadow: none;
}

textarea.form-control  { 
  height: 13em;
  border: none;
  margin-bottom: 0.75rem;
}

.form-info {
  text-align: left;
  font-size: 0.77rem;
}

input[type="checkbox"] 
{ margin-left: -2.25rem;
  width: 0.9rem;
  height: 0.9rem;
  background-color: rgba(196, 196, 196, 0.4);
  border-radius: 0.11rem;
  appearance: none;
  cursor: pointer;
}

.form-check { padding-left: 2.25rem; }

input[type=checkbox]:checked
{
  background-color: #ffa800;
  background: #ffa800 url(data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==) 3px 3px no-repeat;
}

.form-container .button { padding: 0.95rem 3.5rem; }

@media only screen and (max-width: 991px) {
  
  .form-container { width: 80%; }
}

@media only screen and (max-width: 576px) {

  .form-container { 
    width: 95%;
    padding-left: 0;
  }

  .form-container .h3{
    margin-bottom: 1.5rem;
    font-size: 1.33rem;
  }

  .form-control { padding: .1rem .5rem; }

  .form-control::placeholder { font-size: .77rem; }

  textarea.form-control  { height: 7em; }

  .form-info { font-size: .66rem; }

  .form-container .button { 
    padding: 0.95rem 2.75rem;
    font-size: 1rem;
  }
}

// Logo container

.logo-container{ background: #ffcb66; }

.logo-container .h3 { 
  margin-top: 5.5rem;
  padding-left: 1rem;
}

.logo-container-inner {
  width: 100%;
  margin: 4.6rem auto 6rem auto;
}

.logo-container-inner img {
  height: 100%;
  margin: 0 2rem 0 2.7rem;
}

.logo-container-inner .logo { width: 6%; }

@media only screen and (max-width: 991px) {

  .logo-container-inner { margin: 3rem auto 4rem auto; }

  .logo-container .h3 { margin-top: 2.7rem; }

  .logo-container-inner img { 
    max-width: 17%;
    margin: 0 1.2rem 0 2rem;
  }
}

@media only screen and (max-width: 576px) {

  .logo-container .h3 { margin: 3rem 0; }

  .logo-container-inner { max-width: 100%; margin: 0 auto 3rem 0; }

  .logo-container-inner img { max-width: 40%; margin: 0 0 2rem 0; }

  .logo-container-inner .logo { width: 15%; }

}

// Ideja

// Hero
.hero {
  position: relative;
  width: 100vw;
  height: 50vw;
  background: url(../img/Juris.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  position: absolute;
  bottom: 4rem;
  left: 16rem;
  width: 60%;
  font-family: 'Oswald', sans-serif;
  font-size: 1.33rem;
  font-weight: 500;
  line-height: 2rem;
  color: #fff;
  z-index: 100;
}

.hero-overlay {
  width: 100vw;
  height: 50vw;
  background: linear-gradient(-180deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%);
  transform: rotate(-180deg);
}

.hero .ripped-bottom { margin-top: -3%; }

.slider-wrapper {
  width: 55%;
  margin: 8.33rem auto 8.33rem auto;
}

.lightslider-item p:nth-child(2) {
  margin-top: 0.556rem;
  margin-bottom: 1.667rem;
}

.lightslider-item p:nth-child(3) { font-size: 1.33rem; }

#goToPrevSlide { background-image: url(../img/btn-slider.svg); }

#goToNextSlide {
  margin-left: 2.56rem;
  margin-top: 1.67rem;
  background-image: url(../img/btn-slider.svg);
  transform: rotateY(180deg);
}

#goToPrevSlide,
#goToNextSlide {
  height: 23px;
  width: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  cursor: pointer;
}

#goToPrevSlide:hover {
  background-image: url(../img/btn-slider-focus.svg);
  transform: rotateY(180deg);
}

#goToNextSlide:hover {
  background-image: url(../img/btn-slider-focus.svg);
  transform: none;
}

// Piesaki sapni

// Description 

.description-line { font-size: 1.33rem; }
.description-wide { width: 60%; }

// Images

/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */
 
.baloon-art, .dog-art
{ max-width: 100%; background-size: 100%; background-image: url('../img/dog-baloon-sprite.png'); }
 
.baloon-art { background-position: 0 0%; background-size: 100%; }
.dog-art { background-position: 0 100%; background-size: 102.994012%; }

// Application

.application-container-inner h2 {
  margin-top: 3.33rem;
  margin-bottom: 1.67rem;
}

.application-container .application-container-inner:nth-child(1) .application-button {
  margin-top: 7.94rem;
}

.application-container .application-container-inner:nth-child(2) .application-button {
  margin-top: 1.9rem;
}

.submit-message { color: #ffa800; }

.submit-message p:nth-child(1) {
  margin-top: 3.33rem;
  margin-bottom: 1.66rem;
}

.submit-message p:nth-child(2) {
  font-size: 1rem;
}

// Sapnu banka

/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */
 
.people-art, .rupor-art, .glasses-art, .hills-art, .sun-art
{ max-width: 100%; background-size: 100%; background-image: url('../img/art-sprite.png'); }

.sun-art { background-position: 0 100%; background-size: 127.333333%; }

.hills-art { background-position: 0 71.479501%; background-size: 127.333333%; }

.glasses-art { background-position: 0 49.155405%; background-size: 127.333333%; }
 
.white-rainbow-art, .white-landscape-art { 
  max-width: 100%;
  margin-top: 4.17rem;
  margin-bottom: 2.22rem;
  background-size: 100%; 
  background-image: url('../img/land-rainbow-sprite.png'); 
}

.goals p { max-width: 37%; }

.goals div { margin-top: 5.55rem; }

.goals div:nth-child(3) { margin-right: 11.28rem; }
.goals div:nth-child(3) p {max-width: 42%; }

.goals img {
  margin-left: 3.44rem;
  margin-right: 3.44rem;
}

.logo-container p {
  max-width: 60%;
  padding-bottom: 4.94rem;
  color: #fff;
}

.white-landscape-art { background-position: 0 100%; background-size: 109.23913%; }

.rupor-art { background-position: 0 24.169742%; background-size: 124.025974%; max-width: 80%; }

.people-art { background-position: 0 0%; background-size: 100%; }

.rupor-art,
.people-art {
  margin-bottom: 1.67rem;
}

.icons {margin-bottom: 8.33rem; }

.icons h3 { padding-bottom: 3.33rem; }

.icons-inner { max-width: 75%; }

.icons-inner div:nth-child(1) { max-width: 20%; }

.icons-inner div:nth-child(2) { max-width: 22%; }
 
.white-rainbow-art { background-position: 0 0%; background-size: 100%; }

// 99 iedvesmas stÄsti

.story-container { width: 81%; }

.story-container,
.modal {
  font-family: 'Oswald', sans-serif;
  color: #fff;
  text-align: center;
}

.story {
  position: relative;
  width: 12vw;
  height: 12vw;
  margin: .39rem;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.overlay:hover {
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, .25));
  cursor: pointer;
}

.overlay,
.story-overlay {
  position: absolute;
  width: 12vw;
  height: 12vw;
}

.overlay {
  background-color: transparent;
  z-index: 2;
}

.story-overlay {
  background-image: url(../img/story-color.jpg);
  background-repeat: none;
  background-size: contain;
  opacity: 1;
}

.story .number,
.modal-title { font-size: 2rem; }

.story .number {
  position: absolute;
  top: 6rem;
  left: 5rem;
  z-index: 1;
}

.story-title {
  position: absolute;
  left: 0;
  right: 0;
  margin: 3rem auto;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: center;
  z-index: 1;
}

.story-coming-soon {
  position: absolute;
  top: 30%;
  margin: auto auto;
  font-weight: 700;
  line-height: 1.5rem;
  z-index: 1;
}

.modal-header,
.modal-content,
.modal-footer { border: none; }

.modal-header { justify-content: flex-end;}

.modal-content { 
  width: 57vw;
  background: transparent; 
}

.modal-dialog {
  width: 57vw;
  margin: 7.75rem auto;
}

.modal-header .close-icon {
  display: inline-block;
  width: 1.11rem;
  height: 1.11rem;
  background-image: url(../img/close-white.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.modal-backdrop { background: rgba(47, 72, 88, .9); }

.modal-backdrop.show { opacity: .9; }

.team-description { 
  width: 85%;
  margin: 8.33rem auto 8.33rem auto; 
}

.team-description h2 { margin-bottom: 1.67rem; }

.team-description .description-text {
  width: 65%;
  margin-bottom: 3.33rem;
  font-weight: 500;
}

.team-member-container {
  color: #fff;
}

.team-member-container h3 {
  margin: 0;
  font-weight: 500;
  padding-bottom: 0;
  z-index: 2;
}

.team-member-container p {
  width: 90%;
  margin: 0 auto 1.11rem auto;
  z-index: 2;
}

.team-member-1,
.team-member-2,
.team-member-3 {
  position: relative;
  width: 23vw;
  height: 30vw;
  background-repeat: no-repeat;
}

.team-member-1 { background-image: url(../img/Juris2.jpg); }

.team-member-2 { background-image: url(../img/Girts.jpg); }

.team-member-3 { background-image: url(../img/Janis.jpg); }

.team-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 23vw;
  height: 29vw;
  background: linear-gradient(180deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%);
  transform: rotate(-180deg);
  z-index: 1;
}

// Sapnus atbalsta

.select-container {
  width: 100%;
  margin-bottom: 3.33rem;
}

.SumoSelect {
  width: 288px;
  margin: .83rem;
}

.SelectBox { padding: .67rem 3.33rem .56rem .83rem; }

.SumoSelect > .CaptionCont {
  min-height: 43px;
  background: #E4E4E4;
  border-radius: .33rem;
  border: none;
  text-align: left;
}

.SumoSelect > .optWrapper {
  text-align: left;
  border: none;
  border-radius: 0 0 .33rem .33rem;
  background: #E4E4E4;
}

.SumoSelect.open > .CaptionCont,
.SumoSelect:focus > .CaptionCont,
.SumoSelect:hover > .CaptionCont {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

label[for="location-select"],
label[for="type-select"] {
  font-weight: 500;
  color: #FFA800;
}

.SumoSelect.open .SelectBox {
  border-radius: .33rem .33rem 0 0;
  padding-bottom: 0; 
}

.SumoSelect.open > .optWrapper {
  top: 49px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.SumoSelect > .optWrapper > .options > li.opt:first-child {
  display: none;
}

.SumoSelect > .optWrapper > .options > li.opt {
  padding: .56rem .83rem 0 .83rem;
  border: none;
}

.SumoSelect > .optWrapper > .options > li.opt:last-child {
  padding-bottom: .56rem;
}

.SumoSelect > .optWrapper > .options li.selected {
  display: none;
}

.SumoSelect.open .SelectBox span {
  padding-bottom: .5rem;
  border-bottom: 2px solid #2F4858;
  font-weight: 700;
}

.company-container-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.83rem auto;
  max-width: 55%;
  color: rgba(47, 72, 88, 1);
}

.company-container-inner .company-name {
  font-size: 1.33rem;
  font-weight: 500;
}

.company-phone,
.company-address { text-align: right; }

// Google maps styles
.zoom-btn-container {
  margin-right: 3.72rem;
  margin-bottom: 4.06rem;
}

.zoom-btn {
  width: 3.17rem;
  height: 3.17rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  font-size: 1rem;
  text-align: center;
  background: rgba(255, 168, 0, .5);
  border-radius: .78rem;
  cursor: pointer;
}

.zoom-btn:hover { background: rgba(255, 203, 102, .5); }

#map { height: 46.5vw; }

.gm-style .gm-style-iw-t::after {
  display: none;
}

.info-window {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 486px;
  height: 174px;
  //padding-top: 1.22rem;
  //padding-bottom: 1.67rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.info-window-logo{
  display: flex;
  align-items: center;
}

.gm-style .gm-style-iw {
  max-width: 486px;
  box-shadow: none;
  border-radius: .78rem;
  background: rgba(255, 168, 0, 0.5);
  
}

.gm-style .gm-style-iw-d { overflow: hidden !important; }

.gm-style-iw > button { display: none !important; }

.info-window-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
}




