/* Typography */

// Headings
.p, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #2f4858;
}

.h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 1.333rem;
}

.h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}

// Icon font
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?f926sf');
  src:  url('../fonts/icomoon.eot?f926sf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?f926sf') format('truetype'),
    url('../fonts/icomoon.woff?f926sf') format('woff'),
    url('../fonts/icomoon.svg?f926sf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook::before {
  content: "\ea90";
  font-size: 2rem;
  margin-right: 0.85rem;
}

.icon-instagram::before {
  content: "\ea92";
  font-size: 2rem;
  margin-right: -0.2rem;
}

@media only screen and (max-width: 991px) {

  .icon-facebook::before {
    font-size: 1.5rem;
    margin-right: 1.1rem;
  }

  .icon-instagram::before {
    font-size: 1.5rem;
  }
}